/**************************************** Activities ****************************************/
#activities {
	max-width: 1350px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

#activities .description {
	font-size: 20px;
	margin-bottom: 20px;
}

#activities .elements {
	display: flex;
	flex-wrap: wrap;
}

#activities .elements a .activityFirstType {
	box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	height: 455px;
	margin-right: 30px;
}

#activities .elements a .activityFirstType img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 315px;
    height: 405px;
    object-fit: cover;
}

#activities .elements a .activitySecondType {
	box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	height: 233px;
	margin-bottom: 30px;
}

#activities .elements a .activitySecondType img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 315px;
    height: 183px;
    object-fit: cover;
}

#activities .elements a .activityThirdType {
	box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0 0 16px 0 rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	height: 192px;
	margin-bottom: 30px;
}

#activities .elements a .activityThirdType img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 315px;
    height: 142px;
    object-fit: cover;
}

#activities .elements .activitiesBlockFirstType {
	margin-right: 30px;
}

#activities .elements a .info {
	margin: 15px;
	line-height: 10px;
}

/**************************************** Media Queries ****************************************/
@media only screen and (max-width: 1395px) {
	#activities {
		margin-top: 0;
	}

	#activities .description {
		margin-left: 20px;
	}

	#activities .elements {
		flex-wrap: nowrap;
		margin-left: 20px;
		margin-right: 20px;
	}

	#activities .elements a .activityFirstType img, #activities .elements a .activitySecondType img, #activities .elements a .activityThirdType img {
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	#activities .elements {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	#activities .elements a .activityFirstType img, #activities .elements a .activitySecondType img, #activities .elements a .activityThirdType img {
		width: 315px;
	}

	#activities .elements .activitiesBlockFirstType {
		margin-right: 0;
	}
}

@media only screen and (max-width: 699px) {
	#activities .elements a .activityFirstType, #activities .elements a .activitySecondType, #activities .elements a .activityThirdType {
		height: 190px;
	}
	
	#activities .elements a .activitySecondType img, #activities .elements a .activityThirdType img, #activities .elements a .activityFirstType img, #activities .elements a .activitySecondType img {
		height: 140px;
		width: 100%;
		min-width: 273px;
		max-width: 332px;
	}

	#activities .elements a .activityFirstType {
		margin-right: 0;
	}

	#activities .elements a .activityFirstType, #activities .elements .activitiesBlockFirstType a .activitySecondType, #activities .elements .activitiesBlockFirstType a .activityThirdType, #activities .elements .activitiesBlockSecondType a .activityThirdType {
		margin-bottom: 20px;
	}
}