/**************************************** Footer ****************************************/
footer {
    min-width: 100%;
    background-color: #F2F2F2;
    position: absolute;
    margin: 30px 0 0 -8px;
    padding-top : 40px;
    padding-bottom: 40px;
}

footer .nav {
    margin: auto;
    max-width: 1350px;
	min-width: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .nav .element ul {
    list-style-type: none;
    padding: 0;
}

footer .nav .element li {
    padding-bottom: 8px;
}

/**************************************** Media Queries ****************************************/
@media only screen and (max-width: 1395px) {
    footer .nav .element {
        padding-left: 40px;
        padding-right: 40px;
    }
}