/**************************************** Footer ****************************************/
footer {
    min-width: 100%;
    background-color: #F2F2F2;
    position: absolute;
    margin: 30px 0 0 -8px;
    padding-top : 20px;
    padding-bottom: 20px;
}

footer .nav {
    margin: auto;
    width:1350px;
    min-width: 375px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

footer .nav .element ul {
    list-style-type: none;
    padding: 0;
}

footer .nav .element li {
    padding-bottom: 8px;
}