/**************************************** Footer ****************************************/
footer {
    min-width: 100%;
    background-color: #F2F2F2;
    position: absolute;
    margin: 30px 0 0 -8px;
    padding: 40px 0 30px 0;
}

footer .nav {
    max-width: 1350px;
	margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .nav .element ul {
    list-style-type: none;
    padding: 0;
}

footer .nav .element li {
    padding-bottom: 8px;
}

/**************************************** Media Queries ****************************************/
@media only screen and (max-width: 1395px) {
    footer {
        margin-top: 0;
    }
    
    footer .nav .element {
        padding: 0 30px 0 30px;
    }
}