/**************************************** Header ****************************************/
header {
    max-width: 1350px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 0 15px 0 15px;
    align-items: center;
}

header a h1 img {
    width: 100px;
    height: 45px;
}

header nav ul {
    list-style-type: none;
    display: flex;
    height: 102px;
    margin-top: 0;
    margin-bottom: 0;
    line-height: 102px;
}

header nav ul .register {
    color: #0065FC;
}

header nav li {
    margin-left: 70px;
}

header nav li:hover {
    border-top: 2px solid #0065FC;
    width : max-content;
}

/**************************************** Media Queries ****************************************/
@media only screen and (max-width: 640px) {
    header nav ul .accomodations, .activities {
        display: none;
    }

    header nav li {
        margin-left: 0px;
    }
}