/**************************************** Main ****************************************/
body {
    font-family: 'Raleway', sans-serif;
    min-width: 320px;
    margin: 0;
}

p, h1, h2, h3 {
    margin: 10px 0 10px 0;
}

p {
    font-size: 16px;
}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: inherit;
}

a:hover, .blue {
    color: #0065FC;
}

.bold {
    font-weight: bold;
}

.grey {
    color: #F2F2F2;
}