/**************************************** Search ****************************************/
.search {
    max-width: 1350px;
    margin: auto;
    padding: 15px;
}

.search .title {
    font-size: 24px;
}

.search form {
    display: flex;
    padding: 10px 0 10px 0;
}

.search form .fa-map-marker-alt {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: #F2F2F2;
    min-width: 50px;
    min-height: 50px;
    text-align: center;
    line-height: 50px;
}

.search form input {
    -webkit-appearance: none;
    padding: 15px;
    border: 1px solid #F2F2F2;
      font-size: 16px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    width: 197px;
}

.search form ::placeholder {
    opacity: 1;
    color: black;
}

.search form .buttons button {
    padding: 17px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border: none;
    background-color: #0065FC;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 0;
}

.search form .buttons .mobileSearch {
    display: none;
}

.search .filters {
    padding: 10px 0 10px 0;
    display: flex;
    flex-wrap: wrap;
}

.search .filters .filter {
    padding: 10px 20px;
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    background-color: white;
    font-size: 16px;
    cursor: pointer; 
    margin-left: 30px;
    position:relative;
    padding-left: 50px;
}

.search .filters .filter:hover {
    color: #0065FC;
}

.search .filters .filter .circle {
    position: absolute;
    border-radius: 50%;
    background-color: #DEEBFF;
    height: 43px;
      width: 43px;
    text-align: center;
    line-height: 43px;
    left: -2px;
    bottom: -2px;
}

.search p .fa-info {
    border-radius: 50%;
    border-width: 2px;
      border-color: #F2F2F2;
      border-style: solid;
    color: #0065FC;
    height: 20px;
      width: 20px;
    text-align: center;
    line-height: 20px;
}

/**************************************** Media Queries ****************************************/
@media only screen and (max-width: 425px) {
    .search .filters .description {
        width: 100%;
    }

    .search form input {
        width: 100%;
        min-width: 100px;
    }
    
    .search form .buttons button {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-left: -10px;
    }

    .search form .buttons .search {
        display: none;
    }

    .search form .buttons .mobileSearch {
        display: block;
    }
}

@media only screen and (max-width: 851px) {
    .search .filters .filter {
        margin-bottom: 10px;
        margin-left: 10px;
    }
}