/**************************************** sectionThree ****************************************/
.sectionThree {
	max-width: 1350px;
	margin: auto;
	margin-top: 30px;
	margin-bottom: 30px;
}

.sectionThree .description {
	font-size: 20px;
	margin-bottom: 20px;
}

.sectionThree .elements {
	display: flex;
	flex-wrap: wrap;
}

.sectionThree .elements a .elementFirstType {
	box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3); 
	-webkit-box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	height: 455px;
	margin-right: 30px;
}

.sectionThree .elements a .elementFirstType img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 315px;
    height: 405px;
    object-fit: cover;
}

.sectionThree .elements a .elementSecondType {
	box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	height: 233px;
	margin-bottom: 30px;
}

.sectionThree .elements a .elementSecondType img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 315px;
    height: 183px;
    object-fit: cover;
}

.sectionThree .elements a .elementThirdType {
	box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	height: 192px;
	margin-bottom: 30px;
}

.sectionThree .elements a .elementThirdType img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 315px;
    height: 142px;
    object-fit: cover;
}

.sectionThree .elements .elementsBlockFirstType {
	margin-right: 30px;
}

.sectionThree .elements a .info {
	margin: 15px;
	line-height: 10px;
}

/**************************************** Media Queries ****************************************/
@media only screen and (max-width: 1395px) {
	.sectionThree {
		margin-top: 0;
	}

	.sectionThree .description {
		margin-left: 20px;
	}

	.sectionThree .elements {
		flex-wrap: nowrap;
		margin-left: 20px;
		margin-right: 20px;
	}

	.sectionThree .elements a .elementFirstType img, .sectionThree .elements a .elementSecondType img, .sectionThree .elements a .elementThirdType img {
		width: 100%;
	}
}

@media only screen and (max-width: 1000px) {
	.sectionThree .elements {
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.sectionThree .elements a .elementFirstType img, .sectionThree .elements a .elementSecondType img, .sectionThree .elements a .elementThirdType img {
		width: 315px;
	}

	.sectionThree .elements .elementsBlockFirstType {
		margin-right: 0;
	}
}

@media only screen and (max-width: 699px) {
	.sectionThree .elements a .elementFirstType, .sectionThree .elements a .elementSecondType, .sectionThree .elements a .elementThirdType {
		height: 190px;
	}
	
	.sectionThree .elements a .elementFirstType img, .sectionThree .elements a .elementSecondType img, .sectionThree .elements a .elementThirdType img {
		height: 140px;
		width: 100%;
		min-width: 273px;
		max-width: 332px;
	}

	.sectionThree .elements a .elementFirstType {
		margin-right: 0;
	}

	.sectionThree .elements a .elementFirstType, .sectionThree .elements .elementsBlockFirstType a .elementSecondType, .sectionThree .elements .elementsBlockFirstType a .elementThirdType, .sectionThree .elements .elementsBlockSecondType a .elementThirdType {
		margin-bottom: 20px;
	}
}