/**************************************** sectionOne ****************************************/
.sectionOne {
	padding: 15px;
	max-width: 1350px;
	min-width: 320px;
	margin: auto;
}

.sectionOne .title {
	font-size: 24px;
}

.sectionOne form {
	display: flex;
	padding: 10px 0 10px 0;
}

.sectionOne form .fa-map-marker-alt {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: #F2F2F2;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	line-height: 50px;
}

.sectionOne form input {
	padding: 15px;
	border: 1px solid #F2F2F2;
  	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	margin-right: -2px;
	margin-left: -2px;
}

.sectionOne form ::placeholder {
	opacity: 1;
	color: black;
}

.sectionOne form button {
	padding: 17px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: none;
	background-color: #0065FC;
	color: white;
	font-size: 16px;
	cursor: pointer;
}

.sectionOne form .buttons .mobileSearch {
    display: none;
}

.sectionOne .filters {
	padding: 10px 0 10px 0;
	display: flex;
	flex-wrap: wrap;
}

.sectionOne .filters .element {
	padding: 10px 20px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	background-color: white;
	font-size: 16px;
	cursor: pointer; 
	margin-left: 30px;
	position:relative;
	padding-left: 55px;
}

.sectionOne .filters .element .circle {
	position: absolute;
	border-radius: 50%;
	background-color: #DEEBFF;
	height: 43px;
  	width: 43px;
	text-align: center;
	line-height: 43px;
	left: -2px;
	bottom: -2px;
}

.sectionOne p .fa-info {
	border-radius: 50%;
	border-width: 2px;
  	border-color: #F2F2F2;
  	border-style: solid;
	color: #0065FC;
	height: 20px;
  	width: 20px;
	text-align: center;
	line-height: 20px;
}

/**************************************** Media Queries ****************************************/
@media only screen and (max-width: 442px) {
    .sectionOne form .buttons .search {
		display: none;
	}
	.sectionOne form .buttons .mobileSearch {
		display: initial;
	}

	.sectionOne form button {
		border-top-left-radius: 15px;
		border-bottom-left-radius: 15px;
		margin-left: -10px;
		width: 56px;
	}
}

@media only screen and (max-width: 851px) {
    .sectionOne .filters .element {
		margin-bottom: 5px;
		margin-left: 10px;
	}
}