/**************************************** sectionTwo ****************************************/
.sectionTwo {
	max-width: 1350px;
	margin: auto;
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .accommodations {
	padding: 20px;
	border-radius: 15px;
	background-color: #F2F2F2;
	width: 825px;
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .accommodations p, .sectionTwo .mostpopular p {
    margin: 15px;
}

.sectionTwo .accommodations .description {
	font-size: 20px;
}

.sectionTwo .accommodations .elements, .sectionTwo .mostpopular .elements {
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .accommodations .elements a .element {
	box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	height: 190px;
	background-color: white;
	margin: 15px;
}

.sectionTwo .accommodations .elements a .element img {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 237px;
    height: 110px;
    margin: 4px;
    object-fit: cover;
}

.sectionTwo .accommodations .elements a .element .info {
	margin-left: 20px;
    margin-right: 20px;
}

.sectionTwo .accommodations .elements a .element .info .price {
	font-size: 13px;
}

.sectionTwo .mostpopular {
	padding: 20px;
	margin-left: 40px;
	border-radius: 15px;
	background-color: #F2F2F2;
	width: 405px;
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .mostpopular .description {
	font-size: 20px;
	width: 100%;
}

.sectionTwo .mostpopular .description .fa-chart-line {
	float: right;
}

.sectionTwo .mostpopular .elements a .element {
	box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	width: 375px;
	height: 133px;
	background-color: white;
	margin: 15px;
	display: flex;
}

.sectionTwo .mostpopular .elements a .element img {
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	width: 120px;
    margin: 4px;
	object-fit: cover;
}

.sectionTwo .mostpopular .elements a .element .info {
	position: relative;
	margin: 15px;
}

.sectionTwo .mostpopular .elements a .element .info .price {
	font-size: 13px;
}

.sectionTwo .mostpopular .elements a .element .info .rating {
	position: absolute;
	bottom: 0;
}

/**************************************** Media Queries ****************************************/
@media only screen and (max-width: 1395px) {
	.sectionTwo {
		flex-wrap: wrap-reverse;
	}

	.sectionTwo .mostpopular {
		margin-bottom: 30px;
		margin-left: 0;
		width: 100%;
	}

	.sectionTwo .accommodations {
		margin-bottom: 30px;
		margin-left: 0;
		width: 100%;
	}

	.sectionTwo .mostpopular .elements {
		justify-content: space-evenly;
	}
	
	.sectionTwo .accommodations .elements {
		justify-content: space-evenly;
	}
}

@media only screen and (max-width: 725px) {
	body {
		margin: 0;
	}

	.sectionTwo {
		padding: 0;
	}

	.sectionTwo .mostpopular {
		padding: 15px;
		border-radius: 0;
		margin-bottom: 0;
	}

	.sectionTwo .mostpopular p {
		margin: 20px 5px 20px 5px;
	}

	.sectionTwo .mostpopular .elements a .element {
		width: auto;
		min-width: 273px;
		max-width: 332px;
		margin: 5px;
	}

	.sectionTwo .accommodations {
		padding: 15px;
		border-radius: 0;
		background-color: white;
	}

	.sectionTwo .accommodations p {
		margin: 20px 5px 20px 5px;
	}

	.sectionTwo .accommodations .elements a .element {
		margin: 5px;
	}

	.sectionTwo .accommodations .elements a .element img {
		width: calc(100% - 8px);
		min-width: 273px;
		max-width: 332px;
	}
}
