/**************************************** sectionThree ****************************************/
.sectionThree {
	max-width: 1350px;
	min-width: 320px;
	margin: auto;
	margin-top: 30px;
}

.sectionThree .description {
	font-size: 1.25em;
}

.sectionThree .elements {
	display: flex;
	flex-wrap: wrap;
}

.sectionThree .elements .elementFirstType {
	box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	height: 455px;
	margin-right: 30px;
}

.sectionThree .elements .elementFirstType img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 315px;
    height: 405px;
    object-fit: cover;
}

.sectionThree .elements .elementSecondType {
	box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	height: 233px;
	margin-bottom: 30px;
}

.sectionThree .elements .elementSecondType img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 315px;
    height: 183px;
    object-fit: cover;
}

.sectionThree .elements .elementThirdType {
	box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	width: auto;
	height: 192px;
	margin-bottom: 30px;
}

.sectionThree .elements .elementThirdType img {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	width: 315px;
    height: 142px;
    object-fit: cover;
}

.sectionThree .elements .elementsBlockFirstType {
	margin-right: 30px;
}

.sectionThree .elements .info {
	margin: 15px;
	line-height: 10px;
}