/* Main parameters */
body {
	font-family: 'Raleway', sans-serif;
	width:1350px;
	min-width: 375px;
	margin: auto;
}

@media screen and (max-width: 1350px) {
	body {
		width:auto;
	}
}

@media screen and (max-width: 630px) {
	nav {
		display: none;
	}
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	color: #0065FC;
}
/* END Main parameters */


/* Header */
header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 15px;
}

header img {
	width: 100px;
    height: 45px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav li {
    margin-left: 70px;
}

header nav .register {
    color: #0065FC;
}
/* END Header */


/* sectionOne */
.sectionOne {
	padding: 15px;
}

.sectionOne h1{
	font-size: 1.5em;
}

.sectionOne form .icon {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: #F2F2F2;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	line-height: 50px;
}

.sectionOne form input {
	padding: 10px;
	border: 1px solid #F2F2F2;
  	font-size: 1em;
  	font-family: 'Raleway', sans-serif;
  	font-weight: bold;
}

.sectionOne form ::placeholder {
	color: black;
	opacity: 1;
}

.sectionOne form button {
	padding: 17px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: none;
	background-color: #0065FC;
	color: white;
	font-size: 1em;
	cursor: pointer;
}

.sectionOne form .mobileSearch {
    display: none;
}

@media screen and (max-width: 440px) {
	.sectionOne form .search {
		display: none;
	}
	.sectionOne form .mobileSearch {
		display: initial;
	}
}

.sectionOne form {
	display: flex;
	flex-wrap: nowrap;
}

.sectionOne .filters {
	display: flex;
	flex-wrap: nowrap;
}

.sectionOne .filters button {
	padding: 10px 17px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	background-color: white;
	color: black;
	font-size: 1em;
	cursor: pointer; 
  	margin-left: 20px;
}

.sectionOne .filters button .fa-money-bill-wave, .fa-child, .fa-heart, .fa-dog {
	color: #0065FC;
}

@media screen and (max-width: 790px) {
	.sectionOne .filters button {
		margin-bottom: 5px;
	}
}

.sectionOne .fa-info {
	border-radius: 50%;
	border-width: 2px;
  	border-color: #F2F2F2;
  	border-style: solid;
	color: #0065FC;
	background-color: white;
	height: 20px;
  	width: 20px;
	text-align: center;
	line-height: 21px;
}
/* END sectionOne */


/* sectionTwo */
.sectionTwo {
	padding: 15px;
}

.sectionTwo .accommodations{
	padding: 20px;
	border-radius: 15px;
	background-color: #F2F2F2;
	width: 825px;
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .accommodations .description {
	font-size: 1.25em;
}

.sectionTwo .accommodations .elements{
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .accommodations .elements .element{
	border-radius: 20px;
	width: 245px;
	height: 190px;
	background-color: white;
	margin:15px;
}

.sectionTwo .accommodations .elements .element img{
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 235px;
    height: 110px;
    margin: 5px;
    object-fit: cover;
}

.sectionTwo .accommodations p{
    margin: 15px;
}

.sectionTwo .accommodations .elements .element .text{
	margin-left: 20px;
    margin-right: 20px;
}

.sectionTwo .accommodations .elements .element .price{
	font-size: 0.8em;
}

@media screen and (max-width: 895px) {
	.sectionTwo .accommodations {
		width:auto;
	}
}

/* END sectionTwo */
