/**************************************** Main parameters ****************************************/
body {
	font-family: 'Raleway', sans-serif;
	width:1350px;
	min-width: 375px;
	margin: auto;
}

a {
	text-decoration: none;
}

a:link, a:visited {
	color: inherit;
}

a:visited {
	color: inherit;
}

a:hover {
	color: #0065FC;
}

.bold {
	font-weight: bold;
}

.blue {
	color: #0065FC;
}

.grey {
	color: #F2F2F2;
}

@media screen and (max-width: 1350px) {
	body {
		width:auto;
	}
}

@media screen and (max-width: 630px) {
	nav {
		display: none;
	}
}
/**************************************** END Main parameters ****************************************/


/**************************************** Header ****************************************/
header {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding: 15px;
}

header a img {
	width: 100px;
    height: 45px;
}

header nav ul {
    list-style-type: none;
    display: flex;
}

header nav ul .register {
	color: #0065FC;
}

header nav li {
    margin-left: 70px;
}
/**************************************** END Header ****************************************/


/**************************************** sectionOne ****************************************/
.sectionOne {
	padding: 15px;
}

.sectionOne h1 {
	font-size: 1.5em;
}

.sectionOne form {
	display: flex;
	flex-wrap: nowrap;
}

.sectionOne form .fa-map-marker-alt {
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
	background-color: #F2F2F2;
	min-width: 50px;
	min-height: 50px;
	text-align: center;
	line-height: 50px;
}

.sectionOne form input {
	padding: 10px;
	border: 1px solid #F2F2F2;
  	font-size: 1em;
  	font-family: 'Raleway', sans-serif;
  	font-weight: bold;
}

.sectionOne form ::placeholder {
	color: black;
	opacity: 1;
}

.sectionOne form button {
	padding: 17px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
	border: none;
	background-color: #0065FC;
	color: white;
	font-size: 1em;
	cursor: pointer;
}

.sectionOne form .mobileSearch {
    display: none;
}

.sectionOne .filters {
	display: flex;
	flex-wrap: wrap;
	padding-top: 20px;
}

.sectionOne .filters button {
	padding: 10px 17px;
	border: 2px solid #F2F2F2;
	border-radius: 30px;
	background-color: white;
	color: black;
	font-size: 1em;
	cursor: pointer; 
	margin-left: 20px;
	margin-bottom: 5px;
}

.sectionOne p .fa-info {
	border-radius: 50%;
	border-width: 2px;
  	border-color: #F2F2F2;
  	border-style: solid;
	color: #0065FC;
	background-color: white;
	height: 20px;
  	width: 20px;
	text-align: center;
	line-height: 21px;
}

@media screen and (max-width: 425px) {
	.sectionOne form .search {
		display: none;
	}
	.sectionOne form .mobileSearch {
		display: initial;
	}
}
/**************************************** END sectionOne ****************************************/


/**************************************** sectionTwo ****************************************/
.sectionTwo {
	padding: 15px;
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .accommodations {
	padding: 20px;
	border-radius: 15px;
	background-color: #F2F2F2;
	width: 825px;
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .accommodations p {
    margin: 15px;
}

.sectionTwo .accommodations .description {
	font-size: 1.25em;
}

.sectionTwo .accommodations .elements {
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .accommodations .elements .element {
	box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	width: 245px;
	height: 190px;
	background-color: white;
	margin:15px;
}

.sectionTwo .accommodations .elements .element img {
	border-top-right-radius: 15px;
	border-top-left-radius: 15px;
	width: 237px;
    height: 110px;
    margin: 4px;
    object-fit: cover;
}

.sectionTwo .accommodations .elements .element .info {
	margin-left: 20px;
    margin-right: 20px;
}

.sectionTwo .accommodations .elements .element .info .price {
	font-size: 0.8em;
}

.sectionTwo .mostpopular {
	padding: 20px;
	margin-left: 30px;
	border-radius: 15px;
	background-color: #F2F2F2;
	width: 380px;
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .mostpopular p {
    margin: 15px;
}

.sectionTwo .mostpopular .description {
	font-size: 1.25em;
}

.sectionTwo .mostpopular .elements {
	display: flex;
	flex-wrap: wrap;
}

.sectionTwo .mostpopular .elements .element {
	box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	-webkit-box-shadow: 0px 0px 16px 0px rgba(119, 119, 119, 0.3);
	border-radius: 20px;
	width: 350px;
	height: 132px;
	background-color: white;
	margin:15px;
	display: flex;
	flex-wrap: nowrap;
}

.sectionTwo .mostpopular .elements .element img {
	border-bottom-left-radius: 15px;
	border-top-left-radius: 15px;
	width: 120px;
    height: 124px;
    margin: 4px;
	object-fit: cover;
}

.sectionTwo .mostpopular .elements .element .info {
	margin: 15px;
}

.sectionTwo .mostpopular .elements .element .info .price {
	font-size: 0.8em;
}
/**************************************** END sectionTwo ****************************************/

/**************************************** sectionThree ****************************************/
.sectionThree {
	padding: 15px;
}

.sectionThree .description {
	font-size: 1.25em;
}
/**************************************** END sectionThree ****************************************/